<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trang Quản Lý Admin</title>
    <link rel="shortcut icon" href="Home/images/logo-KTT1.ico" type="image/x-icon">

    <!-- Custom fonts for this template-->
    <link href="Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="Admin/css/sb-admin-2.min.css" rel="stylesheet">

    <script>
        function formatCurrency(amount) {
          return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
        }
    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('sideBar_menu.ejs')%>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include('topBar_navbar.ejs')%>
                <!-- End of Topbar -->

                <!-- content viết ở dưới này -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Trang Quản Lý Sản Phẩm </h1>
                        <% if(locals.message){ %>
                            <div class="alert alert-success" role="alert">
                                <!-- <strong>Well done!</strong>  -->
                                <%=message.success%>
                            </div>
                        <% } %>
                        <a style=" font-size: 18px;" href="/insert" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Thêm Sản Phẩm</a>
                    </div>

                     <!-- Content Row -->
                     <div class="row">
                        <div class="container">
                               
                            <table class="table table-hover">
                              <thead>                                
                                <tr style="background-color: #DC143C; color: white; font-size: 18px; ">
                                  <th style="width: 10px;text-align: center; vertical-align: middle;">ID</th>
                                  <th style="width: 100px;text-align: center; vertical-align: middle;">Tên SP</th>
                                  <th style="text-align: center; vertical-align: middle;">Giá mới</th>
                                  <th style="text-align: center; vertical-align: middle;">Giá cũ</th>
                                  <th style="text-align: center; vertical-align: middle;">Sale New</th>
                                  <th style="width: 250px; text-align: center; vertical-align: middle; ">Mô tả</th>
                                  <th style="text-align: center; vertical-align: middle;">Hình Ảnh</th>
                                  <th style="text-align: center; vertical-align: middle;">Chức Năng</th>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- <% if (QLSP && QLSP.length > 0) { %> -->
                                    <!-- Hiển thị all sản phẩm  -->
                                    <% QLSP.forEach(function(sp) { %>    
                                        <tr style="font-weight: bold; color: #180766; font-size: 18px; text-align: center;">                                            
                                            <td><%= sp.ID %></td>
                                            <td><%= sp.Ten %></td>
                                            <td><%= formatCurrency(sp.Gia) %></td>                                  
                                            <td><%= formatCurrency(sp.GiaCu) %></td>                                  
                                            <td><%= sp.Sale_New %></td>                                  
                                            <td style=" padding: 10px;"><%= sp.MoTa %></td>                                  
                                            <td style="text-align: center; vertical-align: middle;">
                                                <img style="height: 150px; width: 150px;" src="Home/images/<%= sp.Anh %>" class="img-fluid" alt="Image">
                                            </td>                                  
                                            <td style="text-align: center; vertical-align: middle;">
                                                <a 
                                                    class="btn btn-success button-SUA-XOA" 
                                                    href="/edit-sp?idEDIT=<%= sp.ID %>">Chỉnh Sửa</a>   
                                                    
                                                <form action="/delete-spp?idDelete=<%= sp.ID %>" method="post" style="display: inline;">
                                                    <buTton class="btn btn-danger button-SUA-XOA" >DELETE</butTon>
                                                </form>
                                            </td>                                  
                                        </tr>
                                    <% }); %> 
                                <!-- <% } %> -->
                               
                              </tbody>
                            </table>
                          </div>
                     </div>


                </div>
                
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông Báo</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có muốn đăng xuất không?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/form-login-Admin">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="Admin/vendor/jquery/jquery.min.js"></script>
    <script src="Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="Admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="Admin/js/demo/chart-area-demo.js"></script>
    <script src="Admin/js/demo/chart-pie-demo.js"></script>

</body>

</html>