<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SỬA SẢN PHẨM</title>
    <link rel="shortcut icon" href="Home/images/logo-KTT1.ico" type="image/x-icon">

    <!-- Custom fonts for this template-->
    <link href="Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="Admin/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .color-label {
            color: rgb(20, 0, 110);
            font-weight: bold;
        }
    </style>

    <script>
        function formatCurrency(amount) {
        return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
        }
    </script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('sideBar_menu.ejs')%>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- content viết ở dưới này -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">CHỈNH SỬA SẢN PHẨM </h1>
                        
                    </div>

                     <!-- Content Row -->
                     <div class="row">
                        <div class="container">
                              
                            <form action="/edit-sp" method="post">       
                                
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="width: 200px; text-align: center; vertical-align: middle; color: rgb(9, 2, 44);">Thuộc Tính</th>
                                            <th style="color: rgb(9, 2, 44);  text-align: center;">Giá Trị</th>
                                            <th style="color: rgb(9, 3, 44);" >NOTE</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr style="display: none;">
                                            <td>
                                                <label for="idSP">Id: </label>
                                            </td>
                                            <td>
                                                <input
                                                    name="idSP" 
                                                    id="idSP" 
                                                    type="text" 
                                                    value="<%= editID.ID %>"
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="color-label" for="tenSP">Tên Sản Phẩm: </label>
                                            </td>
                                            <td>
                                                <input
                                                    style="width: 550px; "
                                                    name="tenSP" 
                                                    id="tenSP" 
                                                    type="text" 
                                                    value="<%= editID.Ten %>"
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="color-label" for="giaSP">Giá Sản Phẩm: </label>
                                            </td>
                                            <td>
                                                <input     
                                                    style="width: 100px;"                                                 
                                                    name="giaSP" 
                                                    id="giaSP" 
                                                    type="text" 
                                                    value="<%= editID.Gia %>"
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="color-label" for="giacuSP">Giá Cũ Sản Phẩm: </label>
                                            </td>
                                            <td>
                                                <input      
                                                    style="width: 100px;"                                                
                                                    name="giacuSP" 
                                                    id="giacuSP" 
                                                    type="text" 
                                                    value="<%= editID.GiaCu %>"
                                                /> 
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="color-label" for="salenew">Sale New: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    style="width: 70px;"                                                 
                                                    name="salenew" 
                                                    id="salenew" 
                                                    type="text" 
                                                    value="<%= editID.Sale_New %>"
                                                />                                            
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="color-label" for="hinhanh">Hình Ảnh: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    required                                               
                                                    name="hinhanh" 
                                                    id="hinhanh" 
                                                    type="file" 
                                                    value="<%= editID.Anh %>"
                                                />                                                
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="color-label" for="hinhanh2">Hình Ảnh 2: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    required                                    
                                                    name="hinhanh2" 
                                                    id="hinhanh2" 
                                                    type="file" 
                                                    value="<%= editID.HinhAnh2 %>"
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="color-label" for="hinhanh3">Hình Ảnh 3: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    required                                     
                                                    name="hinhanh3" 
                                                    id="hinhanh3" 
                                                    type="file" 
                                                    value="<%= editID.HinhAnh3 %>"
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="color-label" for="IdLoaiSP">Loại Sản Phẩm: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    style="width: 50px; "                                               
                                                    name="IdLoaiSP" 
                                                    id="IdLoaiSP" 
                                                    type="text" 
                                                    value="<%= editID.IDLoaiSanPham %>"
                                                />
                                                                                                
                                            </td>
                                            <td style="color: red; font-size: 16px; font-weight: bold;">
                                                1 - Sản Phẩm Nam </br>
                                                2 - Sản Phẩm Nữ
                                            
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="color-label" for="SoLuongTon">Số Lượng Tồn: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    style="width: 80px; "                                                
                                                    name="SoLuongTon" 
                                                    id="SoLuongTon" 
                                                    type="text" 
                                                    value="<%= editID.SoLuongTon %>"
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="color-label" for="SoLanBan">Số Lần Bán: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    style="width: 80px; "                                               
                                                    name="SoLanBan" 
                                                    id="SoLanBan" 
                                                    type="text" 
                                                    value="<%= editID.SoLanBan %>"
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="color-label" for="mota">Mô Tả: </label>
                                            </td>
                                            <td>                                                
                                                <textarea 
                                                    id="mota" 
                                                    name="mota" 
                                                    style="width: 700px; height: 200px; padding: 10px;">
                                                <%= editID.MoTa %></textarea>
                                            </td>
                                        </tr>

                                     
                                    </tbody>
                                </table>

                                <a 
                                    style="font-size: 22px; width: 100px; height: 50px; font-weight: bold; " 
                                    href="/quanlysp"
                                    class="btn btn-dark" >Trở Về </a>   

                                <button 
                                    style="font-size: 22px; width: 100px; height: 50px; font-weight: bold; " 
                                    class="btn btn-success" >SAVE</button>          
                                    
                            </form>
                            
                          </div>
                     </div>


                </div>

                <script src="/path/to/tinymce/tinymce.min.js"></script>
                <script>
                    tinymce.init({
                        selector: '#mota',
                        // Cấu hình tùy chọn Tinymce ở đây
                        plugin: 'a_tinymce_plugin',
                        a_plugin_option: true,
                        a_configuration_option: 400
                    });
                </script>

                
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="Admin/vendor/jquery/jquery.min.js"></script>
    <script src="Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="Admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="Admin/js/demo/chart-area-demo.js"></script>
    <script src="Admin/js/demo/chart-pie-demo.js"></script>

</body>

</html>